.asw-hero {
  text-align: center;
  padding: 60px 20px;
  color: #fff;
  background-size: cover;
  background-position: center;
  height: 45vh;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 50% 100%, 0 86%);

}

.asw-hero h1 {
  font-size: 2.8rem;
  color: #ffcc80;
}

.asw-hero p {
  font-size: 1.1rem;
}

.asw-section {
  margin: 40px auto;
  max-width: 1100px;
  color: #ddd;
}

.section-title {
  color: #ffcc80;
  margin-bottom: 20px;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.image-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.image-info {
  padding: 10px;
  text-align: center;
}

.map-container iframe,
.video-container iframe {
  width: 100%;
  height: 400px;
  border: none;
}
