.tourism-container {
  display: flex;
  gap: 40px;
  padding: 25px;
   background: linear-gradient(to bottom, #1a1a1a    , #0b0b0b);
    /* background: linear-gradient(100deg,#1a1a1a ,#0b0b0b ); */
    color: white;
    /* height: 90vh; */
    padding-bottom: 5rem;
}


.quick-facts {
  width: 20%;
}

.quick-facts ul {
  padding: 0;
  list-style: none;
  line-height: 1.8;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
   justify-content: center;
   gap: 2px; 
}
.quick-facts ul li{
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    justify-self: start;
}

.attractions {
  width: 75%;
}
.attractions span{
    color: #E3A72F; ;
}
.city-card {
  text-align: center;
  cursor: pointer;
  transition: .3s;
  margin-left: 1.5rem;
}






/* ! */

@media (max-width: 780px) {
  .tourism-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .quick-facts {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
  }
  .attractions {
    width: 100%;
  }
  .city-card img {
    
    transform: none !important;
  }

}


.city-card {
  padding: 12px;
  border-radius: 10px;
  transition: .3s ;
  text-align: center;
}


.city-card img:hover {
  transform: translateY(-10px) scale(1.03);
  transition:1s linear ;
  background: rgba(255, 215, 0, 0.1);
  box-shadow: 3px 2px 30px rgba(255, 200, 0, 0.4);
} 

.city-card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ffd700;
   transform:rotate(25deg) ;
   margin-bottom:2rem;
   margin-top: 2rem;
}




.city-card h2 {
   /* color: #E3A72F; ; */
  color: #ffd700;
  width: fit-content;
  margin: 10px auto 5px;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 20px;
}



/* ! */



.swiper-button-next,
.swiper-button-prev {
  /* background: rgba(0,0,0,0.4); */
  border: 1px solid rgba(255, 215, 0, 0.8);
  backdrop-filter: blur(4px);
    width: 38px !important;
  height: 38px !important;
  border-radius: 10%;
  transition: .3s ease;
  color: #faf8f8 !important;
    background: rgba(58, 58, 58, 0.3);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(255,215,0,0.3);
  border-color: #ffd700;
  transform: scale(1.1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 14px !important;
  text-align: center;
}